/* CSS declarations go here */
.fullHeight{
	height: 667px;
}
.bck{
height: 667px;	
background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(2,23,117,1) 0%, rgba(113,94,236,1) 95%, rgba(113,94,236,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(2,23,117,1)), color-stop(95%, rgba(113,94,236,1)), color-stop(100%, rgba(113,94,236,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(2,23,117,1) 0%, rgba(113,94,236,1) 95%, rgba(113,94,236,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(2,23,117,1) 0%, rgba(113,94,236,1) 95%, rgba(113,94,236,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(2,23,117,1) 0%, rgba(113,94,236,1) 95%, rgba(113,94,236,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(2,23,117,1) 0%, rgba(113,94,236,1) 95%, rgba(113,94,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#715eec', GradientType=0 );
}

.blue{

	background-color:"#021775";
}

.logo{
	margin-left: 238px;
	text-align: center;
	margin-top: 100px;
/*	margin-bottom: 200px;*/
	width:auto;
    height:80px;
}
.green{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: #76CA3D;
  background-image: -webkit-linear-gradient(top, #76CA3D, #76CA3D);
  background-image: -moz-linear-gradient(top, #76CA3D, #76CA3D);
  background-image: -ms-linear-gradient(top, #76CA3D, #76CA3D);
  background-image: -o-linear-gradient(top, #76CA3D, #76CA3D);
  background-image: linear-gradient(to bottom, #76CA3D, #76CA3D);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  margin-top: 1000px;
  font-size: 51px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
}

.green:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.blue {
  text-align: center;
  background: #29E3F5;
  background-image: -webkit-linear-gradient(top, #29E3F5, 29E3F5);
  background-image: -moz-linear-gradient(top, #29E3F5, 29E3F5);
  background-image: -ms-linear-gradient(top, #29E3F5, 29E3F5);
  background-image: -o-linear-gradient(top, #29E3F5, 29E3F5);
  background-image: linear-gradient(to bottom, #29E3F5, 29E3F5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
 font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 51px;
  padding: 6px 20px 10px 20px;
  text-decoration: none;
}

.blue:hover {
  text-align: center;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.center{
/*<<<<<<< HEAD
	width: 100%;
=======*/
	
}


/*card screen styling*/
.cardScreen-wrapper {
	
}

.cardScreen-image-container {
	width: 700px;
}

.cardScreen-image {
	width: 650px;
}

.cardScreen-name {
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
}

.cardScreen-description {
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}